@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Source+Sans+Pro');

#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #eee;
  /* min-width: 33%; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 230px 1fr;
  grid-template-rows: repeat, (3, auto);
  grid-template-areas:
    "logo      header"
    "sidebar   content"
}

/* header */
.logo {
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(110, 34, 99);
  /* background: url(../image/brand/banner-modify.jpg) repeat; */
  max-height: 200px;
}

.logo img {
  margin: 0 auto;
  width: 90%;
  display: block;
  border-radius: 50%;
  border: 4px solid rgb(187, 148, 197);
}

header {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  background-color: rgb(62, 25, 82, 1);
  /* width: 100%; */
  max-height: 215px;
  background: url(../image/brand/banner.jpg) repeat;
}

h1 {
  font-size: 72px;
  background-color: rgb(110, 34, 99);
  padding-left: 40px;
  color: white;
  font-style: oblique;
  padding-bottom: 15px;
  margin: 0;
  margin-top: 31px;
}

/* navigation */
nav {
  font-size: 24px;
  font-style: italic;
  font-variant: all-small-caps;
  text-align: left;
  background-color: rgb(187, 148, 197, 0.8);
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 5px;
  padding-bottom: 10px;
}

/* sidebar */
.sidebar {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(110, 34, 99);
  /* background: url(../image/brand/grass.jpg) repeat; */
  background: url(../image/brand/banner-vertical.jpg) repeat;
}

.sidebar h2 {
  font-size: 44px;
  margin-top: 20px;
  background-color: rgb(110, 34, 99, 0.85);
  color: white;
  padding: 10px;
  margin-left: 0;
}

.sidebar p {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  background-color: rgb(187, 148, 197, 0.85);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 4px solid rgb(187, 148, 197);
}

#skills {
  background-color: rgb(187, 148, 197, 0.85);
  font-size: 20px;
  display: block;
}

#skills li {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  background-color: rgb(187, 148, 197);
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  padding-bottom: 7px;
  color: white;
  align-items: center;
}

#skills aside {
  background-color: rgb(187, 148, 197, 0.85);
  margin: 0 auto;
  margin-bottom: -50px;
}

/* content */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

h2 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 48px;
  color: rgb(110, 34, 99);
  padding-left: 20px;
  margin: 0;
}

h3, h4 {
  color: rgb(110, 34, 99);
  line-height: .8;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  line-height: 1.05;
  margin: 0;
  font-size: 21px;
}

h5 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  margin: 0;
}

.content {
  grid-area: content;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.intro {
  padding: 20px;
  border: 4px solid rgb(62, 25, 82, .5);
  margin-bottom: 10px;
  height: 100px;
}

.intro p {
  font-size: 18px;
}

.intro img {
  width: 100px;
  border-radius: 100%;
  border: 4px solid rgb(62, 25, 82, .9);
  float: right;
  margin-top: -102px;
  margin-right: 20px;
}

#homepage .intro img {
  margin-top: -100px;
}

#homepage .intro p {
  padding-right: 200px;
}

#homepage em {
  color: rgb(110, 34, 99);
}

#art .intro img {
  margin-top: -100px;
}

#art .intro p {
  padding-right: 200px;
}

#resume article {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

#resume h2 {
  margin-bottom: -20px;
}

#resume p {
  font-size: 18px;
}

#resume h5 {
  margin-top: 5px;
}

#resume ul {
  margin-top: 30px;
}

#skills {
  padding-bottom: 50px;
}

#skills ul {
  list-style-type: none;
  /* padding: 10px 40px; */
  text-align: center;
  /* margin: 0 30px; */
  margin-left: -45px;
}

/* slick */
.image-container {
  width: 600px;
  margin: 0 auto;
}

.image-container h4 em {
  color: rgb(110, 34, 99);
}

.image-container-nav {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-left: 10px; */
  margin-bottom: 30px;
}

.image-container-nav h5, h6 {
  text-align: center;
  /* margin-left: 10px; */
  /* margin-bottom: 30px; */
}

h6 {
  margin: 0;
}

.prev {
  color: rgb(110, 34, 99, 0.8);
  font-size: 60px;
  float: left;
  margin-left: 20px;
  margin-top: 56px;
  background: url(../image/brand/arrow-prev.png) no-repeat;
}

.next {
  color: rgb(110, 34, 99, 0.8);
  font-size: 60px;
  float: right;
  margin-right: -25px;
  margin-top: 56px;
  background: url(../image/brand/arrow-next.png) no-repeat;
}

.prev ul {
  list-style-type: none;
}

/* lightbox */
.portfolio-gallery img {
  width: 200px;
  padding: 5px;
  transition: 1s;
  margin: 5px;
}

.portfolio-gallery img:hover {
  filter: opacity(50%);
  transform: scale(1.1);
}

.portfolio-gallery p {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  /* font-variant-caps: all-small-caps; */
  margin: 0;
  padding-bottom: 10px;
  padding-left: 20px;
}

.portfolio-gallery ul {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  /* font-variant-caps: all-small-caps; */
  margin: 0;
  padding-bottom: 10px;
}

/* static images and text */
.pdf-blurb {
  display: inline-block;
  width: 600px;
}

.pdf-blurb img {
  width: 250px;
  padding: 10px;
  padding-top: 15px;
  padding-right: 30px;
  float: left;
}

.pdf-blurb strong {
  color: rgb(110, 34, 99);
}

.pdf-blurb p {
  padding-top: 40px;
}

.pdf-blurb a {
  padding-top: 10px;
  font-size: 16px;
  color: rgb(110, 34, 99);
  text-decoration: none;
}

.pdf-blurb a:hover {
  text-decoration: underline;
}

.pdf-blurb a:visited {
  color: gray;
}

#professional-link a {
  color: rgb(110, 34, 99);
}

#professional-link a:hover {
  text-decoration: underline;
}

#professional-link a:visited {
  color: gray;
}

/*  */
/* nav links */
nav a {
  display: block;
  text-decoration: none;
  font-size: 36px;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(110, 34, 99);
}

a:active {
  color: rgb(244, 79, 172);
}

/* footer */
footer {
  width: 960px;
  margin: 0 auto;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-variant: all-small-caps;
  /* position: relative; */
  text-align: left;
}

footer a {
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  margin-top: -10px;
}

footer a:visited {
  color: rgb(110, 34, 99);
}

footer small {
  font-size: 16px;
  float: left;
  margin-left: 10px;
  color: black;
  margin-bottom: 25px;
}
