@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Source+Sans+Pro');

#wrapper {
  margin: 0 auto;
  background-color: #eee;
  /* min-width: 33%; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 230px 1fr;
  grid-template-rows: repeat, (2, auto);
  grid-template-areas:
  "logo      header"
  "sidebar   content";
  }

  .logo {
    margin: 0 auto;
    padding: 10px;
    /* width: 80%; */
    /* text-align: center; */
    background-color: rgb(110,34,99);
    background: url(../image/brand/banner.jpg) repeat;
    max-height: 200px;
  }

  .logo img {
    margin: 0 auto;
    width: 90%;
    align: center;
    display: block;
    border-radius: 50%;
    border: 4px solid rgb(187,148,197);
  }

  header {
    font-family: "Barlow Condensed", "Helvetica", sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 36px;
    background: url(../image/brand/banner-lotus.jpg) repeat;
    width: 100%;
  }

  h1 {
    background-color: rgb(110,34,99);
    padding-bottom: 10px;
    padding-left: 15px;
    color: white;
  }

  .sidebar {
    display: block;
    margin: 0 auto;
    background-color: rgb(110,34,99);
    text-align: center;
    padding-bottom: 20px;
  }

  .sidebar h2 {
    font-family: "Barlow Condensed", "Helvetica", sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 44px;
    /* purple */
    color: white;
    padding-bottom: 5px;
  }

  .sidebar p {
      font-family: "Barlow Condensed", "Helvetica", sans-serif;
      font-size: 16px;
      color: white;
      padding-bottom: 20px;
      font-variant-caps: all-small-caps;
    }

  .content {
    width: 960px;
    padding-left: 15px;
  }

  /* text */
  body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #222;
    margin: 0 auto;
  }

  h2 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 48px;
  /* purple */
  color: rgb(110,34,99);
  margin: 0;
  padding-top: 50px;
  }

  h3, h4 {
  /* padding-top: 20px; */
  color: rgb(110,34,99);
  line-height: .8;
  margin: 0;
  /* font-size: 24px; */
  padding-bottom: 5px;
  }

  h3 {
  font-size: 22px;
  }

  h4 {
  font-size: 18px;
  }

  p {
  /* padding-top: 20px; */
  line-height: 1.05;
  margin: 0;
  }

  h5 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  /* padding-top: 20px; */
  /* line-height: .05; */
  margin: 0;
  }

  /* navigation */
  nav {
    font-size: 24px;
    font-style: italic;
    font-variant: all-small-caps;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 5px;
  }

  .sidebar nav {
    padding-top: 150px;
  }

  /* links */
  nav a {
    display: block;
    /* padding: 50px; */
    text-decoration: none;
    font-size: 36px;
    color: white;
  }

  a:hover{
    text-decoration: underline;
  }

  a:visited {
    /* light purple */
    color: rgb(187,148,197);
  }

  a:active{
    color: rgb(244,79,172);
  }

/* footer */

footer {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-variant: all-small-caps;
  position: relative;
  text-align: left;
}

footer a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-top: -10px;
}

footer a:visited {
  color: rgb(187,148,197);
}

footer small {
  font-size: 16px;
  float: left;
  margin-left: 10px;
}
