@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Source+Sans+Pro');

#container {
  width: 960px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #eee;
  min-width: 320px;
  position: relative;
  /* display: inline-block; */
  /* display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 20px; */
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222;
  margin: 0 auto;
}

/* Do not touch the div CSS block! */
/* div {
  width: 100px;
  height: 100px;
  display: inline-block;
} */

/* div {
  height: 200px;
  width: 200px;
} */

header {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
}

header img {
  width: 960px;
}

h1 {
  font-size: 96px;
  text-align: center;
  /* purple */
  color: rgb(110,34,99);
  margin: 0 auto;
  margin-bottom: 10px;
}

h2 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 48px;
  /* purple */
  color: rgb(110,34,99);
  margin: 0;
}

h3, h4 {
  /* padding-top: 20px; */
  line-height: 1.5;
  margin: 0;
}

p {
  /* padding-top: 20px; */
  line-height: 1;
  margin: 0;
}

h5 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  /* padding-top: 20px; */
  /* line-height: .05; */
  margin: 0;
}

article {
  margin-bottom: 20px;
}

/* navigation */
nav {
  font-size: 24px;
  font-style: italic;
  font-variant: all-small-caps;
  /* purple */
  background-color: rgb(110,34,99);
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 30px;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

a {
  color: white;
}

a:visited {
  /* light purple */
  color: rgb(187,148,197);
}

/* #links {
  width: 600px;
  height: 100px;
  display: inline-block;
} */

footer {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-variant: all-small-caps;
  color: black;
  margin-top: 20px;
  padding-bottom: 20px;
}

footer a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(110,34,99);
  color: white;
}

footer a:visited {
  color: rgb(187,148,197);
}

footer small {
  font-size: 10px;
}
